.title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #ffffff;
}
.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
