.content {
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}

.color {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.title {
  font-weight: 700;
  margin-top: 12px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #1e2123;
}
