@import "../../../../styles/variables/variables.scss";

.tagList {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  padding: 0 38px;
  display: flex;
  flex-wrap: wrap;
  bottom: 48px;
}
.tagItem {
  background: #664ef9;
  border-radius: 16px;
  transition: $transition;
  &:hover {
    background: #7c6be8;
    transition: $transition;
  }
  margin-bottom: 14px;
  margin-right: 16px;
}

.tagBtn {
  display: inline-block;
  padding: 8px 14px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  transition: $transition;
  background: none;

  &:hover {
    color: #fff;
    transition: $transition;
  }
}
