@import "../../styles/variables/variables.scss";

.wrapper {
  position: relative;
  background: linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  z-index: 1;
}
.wrapper:after {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../../assets/images/decor.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.content {
  padding-top: 77px;
  padding-bottom: 95px;
  display: flex;
}
