@import "../../styles/variables/variables.scss";

.wrapper {
  position: relative;
  background: linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  z-index: 1;
}
.wrapper:after {
  display: block;
  content: "";
  position: absolute;
  background-image: url("../../assets/images/decor.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
.content {
  padding-top: 77px;
  padding-bottom: 95px;
  display: flex;
}
.contacts {
  max-width: 515px;
  margin-right: 30px;
  color: #ffffff;

  & > .title {
    display: inline-block;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #ffffff;
  }
  & > .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
}
.list {
  margin-top: 30px;
  margin-bottom: 34px;
  & > .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
  }
  .link {
    color: #ffffff;

    &:hover {
      text-decoration: underline;
    }
  }

  .listItem {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }
  .iconWrap {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 17px;
  }
}

.ownerData {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.disclaimer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 35px;
  gap: 20px;

  background: rgba(80, 57, 189, 0.5);
  border-radius: 10px;

  & > .alertIcon {
    width: 52px;
    height: 52px;
  }
}

// Styles Icons
.messanger {
  display: flex;
  margin-left: 20px;
  transition: $transition;
  a:hover .icon {
    fill: #ffd54f;
    transition: $transition;
  }

  .link {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    padding: 7px;
    border-radius: 50%;
    margin-right: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .icon {
    width: 15px;
    height: 15px;
    fill: #ffffff;
  }
}
.socialNetworks {
  display: flex;
  flex-direction: column;

  a:hover .icon {
    fill: #ffd54f;
    transition: $transition;
  }
  .link {
    display: flex;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 50%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}

.icons {
  width: 15px;
  height: 15px;
  fill: #ffffff;
}
