.paymentGuide {
  width: 407px;
  padding: 17px 41px 17px 19px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(102, 78, 249, 0.1);
  border-radius: 10px;
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1e2123;
}

.iconWrapper {
  width: 52px;
  height: 52px;
  padding: 11px 15px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: rgba(78, 100, 249, 0.1);
}
