.wrapper {
  padding: 62px 0 150px 0;
  background: #f4f5fa;
}

.content {
  padding: 0 111px;
}
.titleWrapper {
  width: 506px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #1e2123;
}
.table {
  width: 1062px;
  height: 295px;
  margin: 65px auto 40px auto;
  background: darkkhaki;
}
.buttons {
}
.payLaterBtn {
  padding: 9px 18px;
  margin-right: 25px;
  background: rgba(78, 100, 249, 0.1);
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #664ef9;
}
.payCardBtn {
  padding: 9px 18px;
  margin-right: 25px;
  background: #664ef9;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.payEripBtn {
  padding: 9px 18px;
  background: #ffd54f;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1e2123;
}
