.wrapper {
  padding-top: 30px;
  padding-bottom: 190px;
  background: #f4f5fa;
  min-height: 100vh;
}
.content {
  display: flex;
  justify-content: space-between;
}
.mt {
  margin-top: 62px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1e2123;
}
