.disclaimer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 35px;
  gap: 20px;
  background: rgba(80, 57, 189, 0.5);
  border-radius: 10px;
}
.alertIcon {
  width: 52px;
  height: 52px;
}
