.wrapper {
  padding: 65px 0 75px 0;
  background: #ffffff;
}

.content {
  max-width: 840px;
  margin: 0 auto;
}

.text {
  max-width: 384px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1e2123;
}
.title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  color: #1e2123;
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.group {
  display: flex;
  flex-direction: column;
}

.tel {
  display: flex;
  align-items: center;
}
.telLink {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #664ef9;
}
.social {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #686868;
}
.mail {
  display: flex;
  align-items: center;
  margin-right: 52px;
}
.mailLink {
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #664ef9;
}
.iconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  border-radius: 50%;
  padding: 13px;
  background: rgba(78, 100, 249, 0.1);
  position: relative;
}

.iconTel {
  fill: #664ef9;
  width: 27px;
  height: 27px;
}

.iconMail {
  fill: #664ef9;
  width: 27px;
  height: 27px;
}
