@import "../../styles/variables/variables.scss";

.recommendWrapper {
  padding-top: 42px;
  padding-bottom: 42px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
    opacity: 0.1;
    z-index: -1;
  }
}
.tagsBlock {
  margin-top: 40px;

  & > p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $black-gray;
  }
}
.tagsFlex {
  margin-top: 25px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.sortBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
}

.filterWrapper {
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.08);
  margin-bottom: 22px;}
.tilesCardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 522px;
}
.listCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tagsButton {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background: rgba(102, 78, 249, 0.1);
  border-radius: 17px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $moderate-blue;
  &:last-child {
    margin-right: 0;
  }
  // &:hover {
  //   background: rgba(102, 78, 249, 0.2);
  // }
}

.activeClass {
  background: #664ef9;
  color: #fff;
}
.shadow {
  filter: drop-shadow(0px 20px 40px rgba(39, 95, 158, 0.1));
}
.btnActiveClass {
  background: #ffffff !important;
  box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);

  & > svg {
    fill: $moderate-blue;
    transition: $transition;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.listIcon {
  width: 14px;
  height: 14px;
  fill: #bdbdbd;
  transition: $transition;
}

.showListBtn {
  margin-right: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
  padding: 10px 15px;
  gap: 10px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 14px;
  color: $black-gray;
  background: none;
}
.tilesIcon {
  width: 14px;
  height: 14px;
  fill: #bdbdbd;
  transition: $transition;
}
.showTilesBtn {
  margin-right: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
  padding: 10px 15px;
  gap: 10px;

  border-radius: 18px;
  font-weight: 500;
  font-size: 14px;
  color: $black-gray;
  background: transparent;
  transition: $transition;
}
.showMapIcon {
  width: 14px;
  height: 14px;
  fill: $moderate-blue;
  transition: $transition;
}
.showMapBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse;
  padding: 10px 15px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 96, 206, 0.1);
  border-radius: 18px;

  font-weight: 600;
  font-size: 14px;
  color: $black-gray;
  transition: $transition;

  &:hover {
    color: #6fa4c7;
    transition: $transition;
    & > .showMapIcon {
      fill: #6fa4c7;
      transition: $transition;
    }
  }
}
.select {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.1);
  border-radius: 20px;
  width: 232px;
  position: relative;
  z-index: 10;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  [class*="-ValueContainer"] {
    position: relative;
    padding: 0 17px 0 37px;
    &:after {
      content: url("../../assets/images/sortIcon.svg");
      position: absolute;
      top: 1px;
      left: 12px;
    }
  }

  [class*="-control"] {
    min-height: 25px;
    outline: none;
    box-shadow: none;
    border-radius: 20px;
    background: #fff;
    border: 2px solid #fff;

    &:hover {
      border: 2px solid rgba(102, 78, 249, 0);
      background: rgba(102, 78, 249, 0.1);
    }
    &:focus-within {
      background: #ffffff;
      border: 2px solid rgba(102, 78, 249, 0.8);
    }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      width: 200px;
      min-height: 20px;
    }
  }
}
