@import "../../styles/variables/variables.scss";

.menu {
  position: relative;
}
.menu:hover .dropdownList {
  opacity: 1;
  visibility: visible;
  transition: $transition;
}
.dropdownList {
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
  border-radius: 10px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  position: absolute;
  top: 90px;
  left: 0;
  width: 248px;
  transition: $transition;
  &:after {
    content: "";
    position: absolute;
    top: -26px;
    padding: 13px 0;
    width: 100%;
    cursor: default;
  }
}
.dropdownItem {
  color: $black-gray;
  &:hover {
    background: #f8f8f8;
  }
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &:last-child {
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
  }
}

.link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 15px;
  line-height: 17px;
  color: $black-gray;
  text-decoration: none;
  z-index: 0;
}

.navTitle {
  display: inline-block;
  line-height: 1.3;
  margin-top: 31px;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #1e2123;

  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-top: 40px;
  }
}
.amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #bdbdbd;
}
