@import "../../styles/variables/variables.scss";

.newsWrapper {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 54%;
    height: 75%;

    background: linear-gradient(90deg, #94afff 0%, #4e64f9 94.5%);
    opacity: 0.1;
    border-radius: 40px 0 0 40px;
    top: 30px;
    right: 0;
    z-index: -1;
  }
}
.container {
  padding-top: 42px;
  padding-bottom: 100px;
  min-height: 582px;

  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: $black-gray;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }
  .searchForm {
    width: 622px;
    height: 37px;
    position: relative;

    .searchInput {
      width: 100%;
      padding: 11px 70px 11px 21px;
      background: #ffffff;
      box-shadow: 0px 10px 20px rgba(0, 96, 206, 0.05);
      border-radius: 20px;
      &::placeholder {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $dull-gray;
      }
    }

    .searchBtn {
      position: absolute;
      right: 0;
      padding: 10px 18px;
      width: 53px;
      height: 37px;
      background: #664ef9;
      border-radius: 19px;

      .searchIcon {
        width: 18px;
        height: 18px;
      }
    }
  }
}
