$light-gray: #8291a3;
$dull-gray: #686868;
$moderate-blue: #664ef9;
$black-gray: #1e2123;
$choice-yellow: #feb700;

/*btn_colors*/
$btn-hover: brightness(0.9);
$btn-focus: brightness(0.8);
$btn-active: brightness(0.9);
/*transition*/
$transition: all 0.3s ease-in-out;
