@import "../../../styles/variables/variables.scss";

.error {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 900;
  color: $black-gray;
}
