.select {
  width: 200px;
  position: relative;
  align-self: center;
  padding: 0;
  z-index: 20;

  color: black;
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.wrapper {
  background-color: #fff;
}
.flex {
  display: flex;
}
.autocomplete {
  & > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #664ef9;
  }
}
