.payment {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visa {
  width: 42px;
  height: 20px;
}

.webpay {
  width: 86px;
  height: 20px;
}
.verified {
  width: 40px;
  height: 20px;
}
.mastercard {
  width: 26px;
  height: 24px;
}
.securecode {
  width: 46px;
  height: 20px;
}
.belkart {
  width: 22px;
  height: 34px;
}
