@import "../../styles//variables/variables.scss";

.footer {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px -11px 40px rgba(39, 95, 158, 0.05);
}

.flexContainter {
  display: flex;
  padding: 40px 0 30px 0;
}

.navList {
  display: block;
}
.navListItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 8px 0;
  display: flex;
  align-items: center;

  &:first-of-type {
    margin: 0;
  }

  a {
    color: $light-gray;
    border-bottom: 3px solid #ffffff;
  }
  svg {
    display: none;
  }
}

.leftColumn {
  margin-right: 47px;
}

.rightColumn {
  width: 872px;
  .topRow {
    display: flex;
    align-items: baseline;
    margin-bottom: 17px;
  }
  .bottomRow {
    display: flex;
    justify-content: space-between;
  }
}
