@import "../../styles/variables/variables.scss";

.breadcrumbs {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: $dull-gray;

  .breadcrumbsLink {
    display: flex;
  }

  .dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $moderate-blue;
    margin-right: 7px;
  }

  .children {
    display: inline-block;
    margin-right: 8px;
  }
}
.homeRun {
  width: 13px;
  height: 12px;
  margin-right: 6px;
  fill: $moderate-blue;
}
