@import "../variables/variables";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fdfdfe;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1317px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
