.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: Inter, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
